:root {
	--maincolor:#15202B ;
	--secondarycolor: #192734;
	--bordercolor: #164D56;
	--maintext: #fff;
	--secondtext: #eeeeee;
	--themedotborder: #FFF;
	--previewBg: rgb(25,39,52,0.8);
	--previewshadow: #111921;
	--btnColor: 17a2b8;
}