:root {
	--maincolor:#606B56 ;
	--secondarycolor: #515a48;
	--bordercolor: #161914;
	--maintext: #fff;
	--secondtext: #eeeeee;
	--themedotborder: #FFF;
	--previewBg: rgb(81,90,72,0.8);
	--previewshadow: #2a2f25;
	--btnColor: #669966;
}